
<h3><%=current_user.username || current_user.email%>'s dashboard</h3>
<hr>
<h5>My Gigs:</h5>
  <% if current_user.gigs.empty? %>
    <%= link_to "Nothing yet. Want to create a gig?", new_gig_path %>
  <%else%>
    <% current_user.gigs do |g| %>
    <p><%=g.name %></p>
    <p><%=g.description %></p>
  <%end%>
<%end%>