<h3><%=current_user.username || current_user.email%>'s dashboard</h3>
<hr>
<h5>My Bands:</h5>
  <% if current_user.bands.empty? %>
  <p class="text-info">Nothing here yet.</p>
    <%= button_to "Create or Join a Band", new_band_path, method: :get, class: "btn btn-primary" %>
  <%else%>
    <% current_user.bands do |g| %>
    <p><%=g.name %></p>
    <p><%=g.description %></p>
  <%end%>
<%end%>
