<h2 align="center">
    <%= link_to "#{@user.username}'s Profile", profile_path || user_path(:id), class: "text-success" %>
</h2>
<hr color="white">
<h3>
    <%= link_to "Bands", user_bands_path(@user.id)%>
</h3>

<p> View bands joined by <%="#{@user.username}"%> </p>
