<h1>
    <%= link_to "#{@user.username}'s Profile", profile_path || user_path(:id) %>
</h1>
    <%= link_to "Bands", user_bands_path(@user.id)%>
<div>
  <div>
    <p>Welcome to your profile,</p>
      <h3> <%= @user.username %></h3>
  </div>
  <div>
  