<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Member Count:</th>
    </tr>
  </thead>
  <tbody>

    <tr>
	  <% @bands.all.each do |b|%>
      <th scope="row"><%=link_to "#{b.name}", band_path(b.id) %></th>
      <td><%= b.description%></td>
      <td><%=link_to "#{b.users.count}"%></td>
    </tr>

  </tbody>
  	<% end%>
</table>
