<%if user_signed_in?%>
<%= render 'users/index' %>
<%else%>
<div class="jumbotron">
  <h1 class="display-3">Welcome to StereoSpirits!</h1>
  <p class="lead">This is a site to find and collaborate with fellow musicians remotely.</p>
  <hr class="my-4">
  <p>Just click the button to get started.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Let's do it.</a>
  </p>
</div>
<%end%>